<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'img/icon.ico' %}">
        <script src="{% static 'js/Signup.js' %}"></script>
        <title>Sign up</title>
    </head>
    <body>
        <div class="topnav">
            <img id="Logo_small" src="{% static 'img/Logo_small.png' %}">
            <a href="/about">About us</a>
            <a class="active" href="/Signup">Sign up</a>
            <a href="/Login">Login</a>
            <a href="/">Home</a>
        </div>
        <div id="signup_panel">
            <img id="Logo" src="{% static 'img/Logo.png' %}">
            <form id="frm">
                {% csrf_token %}
                <input type="text" id="firstname" name="firstname" placeholder="First Name" required><br>
                <input type="text" id="lastname" name="lastname" placeholder="Last Name" required><br>
                <input type="text" id="email" name="email" placeholder="E mail" required><br>
                <input type="text" id="username" name="username" placeholder="Username" required><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required><br>
                <input type="button" id="btn" value="Signup" onclick="Signup()">
            </form>
        </div>
    </body>
</html>